<div class="flex flex-col lg:flex-row gap-12 lg:gap-16 items-start">
  <div class="lg:w-2/3 text-gray-800 leading-relaxed">
    <h1 class="text-3xl font-semibold text-emerald-800 mb-4">Explore Conway's Game of Life</h1>
    <p>
      The Game of Life, devised by British mathematician John Horton Conway, is a cellular automaton that requires no input after its initial setup. This zero-player game evolves based on its initial state, allowing you to observe complex behaviors emerging from simple rules.
    </p>
    <h2 class="text-2xl font-semibold mt-6 mb-3 text-emerald-800">Game rules</h2>
    <p>
      Each cell interacts with its eight neighbors, changing states based on simple transition rules:
    </p>
    <ul class="list-disc list-inside mt-3 space-y-2 text-gray-700">
      <li>Cells with fewer than two neighbors die due to underpopulation.</li>
      <li>Cells with two or three neighbors survive to the next generation.</li>
      <li>Cells with more than three neighbors die due to overpopulation.</li>
      <li>Dead cells with exactly three neighbors come to life as if by reproduction.</li>
    </ul>
    <% if @past_simulations.any? %>
      <h3 class="text-xl font-semibold mt-6 mb-3 text-emerald-800">Your recent submissions</h3>
      <table class="text-sm text-left">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
          <tr>
            <th class="px-5 py-2">Date</th>
            <th class="px-5 py-2">Generations</th>
            <th class="px-5 py-2"> </th>
          </tr>
        </thead>
        <tbody>
          <% @past_simulations.each do |past| %>
            <tr class="border-b">
              <td class="px-5 py-3"><%= to_datetime(past.created_at) %></td>
              <td class="px-5 py-3 text-center"><%= past.generations_count %></td>
              <td class="px-5 py-3"><%= link_to "Show >", game_generation_path(past, past.generations.ordered.last) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>

  <div data-controller="tabs" class="lg:w-1/3 bg-gradient-to-b from-emerald-700 to-emerald-900 text-white py-10 px-8 rounded-3xl shadow-lg">
    <div class="text-center mb-6">
      <div class="inline-flex gap-2 bg-emerald-900 rounded-full p-2">
        <button
          data-tabs-target="tab"
          data-action="tabs#change"
          data-reference="tab-1"
          class="px-4 py-1 text-sm text-center font-medium shadow rounded-full bg-lime-400 text-emerald-900">
          File upload
        </button>
        <button
          data-tabs-target="tab"
          data-action="tabs#change"
          data-reference="tab-2"
          class="px-4 py-1 text-sm text-center font-medium shadow rounded-full text-white">
          Direct input
        </button>
      </div>
    </div>

    <h2 class="text-2xl font-semibold mb-2">Start your simulation</h2>

    <%= render partial: "upload_form", locals: { game: @game } %>
    <%= render partial: "input_form", locals: { game: @game, from_view: true } %>
  </div>
</div>
